<ion-grid class="gridVertical">
    <ion-row style="flex-grow: 1;">
      <ion-col>
        <span><img src="../../../assets/numbers/2.png" style=" border: 3px dashed black; height: 100%; width: 100%;" alt="" (click)="numeroElegido('2')"></span>
      </ion-col>
      <ion-col>
        <span><img src="../../../assets/numbers/5.png" style="border: 3px dashed black;height: 100%;width: 100%;" alt="" (click)="numeroElegido('5')"></span>
      </ion-col>
    </ion-row>
    <ion-row style="flex-grow: 1;">
      <ion-col>
        <span><img src="../../../assets/numbers/9.png" style="border: 3px dashed black;height: 100%;width: 100%;" alt="" (click)="numeroElegido('9')"></span>
      </ion-col>
      <ion-col>
        <span><img src="../../../assets/numbers/1.png" style="border: 3px dashed black;height: 100%;width: 100%;" alt="" (click)="numeroElegido('1')"></span>
      </ion-col>
    </ion-row>
    <ion-row style="flex-grow: 1;">
      <ion-col>
        <span><img src="../../../assets/numbers/10.png" style="border: 3px dashed black;height: 100%;width: 100%;" alt="" (click)="numeroElegido('10')"></span>
      </ion-col>
      <ion-col>
        <span><img src="../../../assets/numbers/3.png" style="border: 3px dashed black;height: 100%;width: 100%;" alt="" (click)="numeroElegido('3')"></span>
      </ion-col>
    </ion-row>
</ion-grid>
<ion-grid class="gridHorizontal">
  <ion-row style="flex-grow: 1; height: 50%;">
    <ion-col style="height: 100%;">
      <span><img src="../../../assets/numbers/2.png" style=" border: 3px dashed black; height: 100%; width: 100%;" alt="" (click)="numeroElegido('2')"></span>
    </ion-col>
    <ion-col style="height: 100%;">
      <span><img src="../../../assets/numbers/5.png" style="border: 3px dashed black;height: 100%;width: 100%;" alt="" (click)="numeroElegido('5')"></span>
    </ion-col>
    <ion-col style="height: 100%;">
      <span><img src="../../../assets/numbers/9.png" style="border: 3px dashed black;height: 100%;width: 100%;" alt="" (click)="numeroElegido('9')"></span>
    </ion-col>
  </ion-row>
  <ion-row style="flex-grow: 1; height: 50%;">
    <ion-col style="height: 100%;">
      <span><img src="../../../assets/numbers/1.png" style="border: 3px dashed black;height: 100%;width: 100%;" alt="" (click)="numeroElegido('1')"></span>
    </ion-col>
    <ion-col style="height: 100%;">
      <span><img src="../../../assets/numbers/10.png" style="border: 3px dashed black;height: 100%;width: 100%;" alt="" (click)="numeroElegido('10')"></span>
    </ion-col>
    <ion-col style="height: 100%;">
      <span><img src="../../../assets/numbers/3.png" style="border: 3px dashed black;height: 100%;width: 100%;" alt="" (click)="numeroElegido('3')"></span>
    </ion-col>
  </ion-row>
</ion-grid>