<ion-grid class="gridVertical">
  <ion-row style="flex-grow: 1;">
    <ion-col>
      <span><img src="../../../assets/colors/black-circle.png" style=" border: 3px dashed black; width: 100%; height: 100%;" alt=""
        (click)="elegirColor('negro')"></span>
    </ion-col>
    <ion-col>
      <span><img src="../../../assets/colors/blue-circle.png" style="border: 3px dashed black; width: 100%; height: 100%;" alt=""
        (click)="elegirColor('azul')"></span>
    </ion-col>
  </ion-row>
  <ion-row style="flex-grow: 1;">
    <ion-col>
      <span><img src="../../../assets/colors/red-circle.png" style="border: 3px dashed black; width: 100%; height: 100%;" alt=""
        (click)="elegirColor('rojo')"></span>
    </ion-col>
    <ion-col>
      <span><img src="../../../assets/colors/green-circle.png" style="border: 3px dashed black; width: 100%; height: 100%;" alt=""
        (click)="elegirColor('verde')"></span>
    </ion-col>
  </ion-row>
  <ion-row style="flex-grow: 1;">
    <ion-col>
      <span><img src="../../../assets/colors/pink-circle.png" style="border: 3px dashed black; width: 100%; height: 100%;" alt=""
        (click)="elegirColor('rosa')"></span>
    </ion-col>
    <ion-col>
      <span><img src="../../../assets/colors/yellow-circle.png" style="border: 3px dashed black; width: 100%; height: 100%;" alt=""
        (click)="elegirColor('amarillo')"></span>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="gridHorizontal">
  <ion-row style="flex-grow: 1; height: 50%;">
    <ion-col style="height: 100%;">
      <span><img src="../../../assets/colors/black-circle.png" style=" border: 3px dashed black; width: 100%; height: 100%;" alt=""
        (click)="elegirColor('negro')"></span>
    </ion-col>
    <ion-col style="height: 100%;">
      <span><img src="../../../assets/colors/blue-circle.png" style="border: 3px dashed black; width: 100%; height: 100%;" alt=""
        (click)="elegirColor('azul')"></span>
    </ion-col>
    <ion-col style="height: 100%;">
      <span><img src="../../../assets/colors/red-circle.png" style="border: 3px dashed black; width: 100%; height: 100%;" alt=""
        (click)="elegirColor('rojo')"></span>
    </ion-col>
  </ion-row>
  <ion-row style="flex-grow: 1; height: 50%;">
    <ion-col style="height: 100%;">
      <span><img src="../../../assets/colors/green-circle.png" style="border: 3px dashed black; width: 100%; height: 100%;" alt=""
        (click)="elegirColor('verde')"></span>
    </ion-col>
    <ion-col style="height: 100%;">
      <span><img src="../../../assets/colors/pink-circle.png" style="border: 3px dashed black; width: 100%; height: 100%;" alt=""
        (click)="elegirColor('rosa')"></span>
    </ion-col>
    <ion-col style="height: 100%;">
      <span><img src="../../../assets/colors/yellow-circle.png" style="border: 3px dashed black; width: 100%; height: 100%;" alt=""
        (click)="elegirColor('amarillo')"></span>
    </ion-col>
  </ion-row>
</ion-grid>